@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Madimi+One&display=swap");

*,
*::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: commissioner, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-light);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

svg {
  max-width: 20px;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

:root {
  --clr-light: #f8f5f2;
  --clr-dark: #222525;
  --clr-primary: #078080;
  --clr-secondary: #f45d48;
  --clr-tertiary: #f8f5f2;

  --shadow-general: 6px 6px 8px rgba(0, 0, 0, 0.171);
}

.about-section {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 600px;
}

.about-section__background {
  background-color: var(--clr-primary);
  min-height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
  clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
}

.about-section__card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  max-width: 1000px;
}

.about-section__text {
  background-color: var(--clr-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  min-height: 25%;
  max-width: 60ch;
  padding: 4rem;
  /* padding-left: 4vw; */
  box-shadow: var(--shadow-general);
}

.about-section .icon-wrapper {
  align-items: self-end;
}

.icon-wrapper {
  display: grid;
  max-width: 80px;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.pfp-container {
  position: relative;
  /* transform: scale(155%); */
  box-shadow: var(--shadow-general);
  /* max-width: 300px; */
}

.pfp-container h1 {
  position: absolute;
  padding: 6px;
  font-size: 1.5rem;
  bottom: 0px;
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  width: 100%;
  line-height: 1.3;
  text-align: center;
}

.container {
  border: 1px solid rgb(232, 29, 29);
  max-width: 1440px;
  margin-inline: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* @media (max-width: 1440px) {
  .container {
    max-width: 1024px;
  }

  .pfp-container h1 {
    font-size: 1.1rem;
  }

  .pfp-container {
    transform: scale(150%);
    margin-right: -30px;
    max-width: calc(50% + 30px);
  }
  .about-section__text {
    padding-left: 6rem;
  }
} */

/* @media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .pfp-container {
    transform: scale(220%);
    margin-right: -30px;
    max-width: calc(50% + 30px);
  }
  .pfp-container h1 {
    font-size: 0.6rem;
  }
  .about-section__text {
    padding-left: 6rem;
  }
} */

/* @media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .pfp-container {
    transform: scale(240%);
    margin-right: -30px;
    max-width: calc(50% + 30px);
  }

  .pfp-container h1 {
    background-color: transparent;
    color: var(--clr-secondary);
    left: 5px;
  }
} */

/* @media (max-width: 768px) {
  .container {
    max-width: 425px;
  }

  .about-section__card {
    display: flex;
    flex-direction: column;
  }

  .pfp-container {
    transform: scale(100%);
    margin-top: -8rem;
    position: relative;
    top: 8rem;
    margin-right: 0;
  }

  .about-section__text {
    height: 50%;
    padding: 12rem 2rem 4rem 2rem;
    box-shadow: var(--shadow-general);
    font-size: 0.8rem;
    text-align: center;
    border: 1px solid red;
  }

  .icon-wrapper {
    padding-top: 1rem;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
} */
/* 
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
} */

/* @media (max-width: 475px) {
  .container {
    max-width: 100%;
  }
} */
